#wrapper{
    width: 100%;
    margin: 0 auto;
    background-color: #5da9e9;
}
#content-box{
    width: 80%;
    margin: 0 auto;
    background-color: #999999;
}
.head{
    width: 100%;
    position: relative;
}
.head .logo p {
    font-stretch: 39vw;

}