div.wraper-sixth{
    width: auto;
    height:317px;
    background: url(bg-rd.jpg)no-repeat;
    background-size: cover;
    z-index: -1;
    position: relative;
}
div.wraper-sixth::before{
    content: '';
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    width: 100%;
    height: 100%;

}
div.ground{
    height: 314px;
}
div.saze{
    width: 1021px;
    height: 317px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}
div h1{
    margin-bottom: 60px;

    font-size: 40px;
    color: #3371a6;
    text-transform: uppercase;
    text-align: center;
}
span.orang{
    color: #ee8129;
}
div.client-uno,.client-doi{
    overflow-y: scroll;
    background-color: #f7f7f7;
    height:100px ;
    width: 363px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
}


.foto-girl{
  margin-bottom: 20px;
    vertical-align: middle;
}
.foto-men{height: 106px;
   vertical-align: middle;
    margin-bottom: 20px;
}