div.wraper{
    border: 2px solid;
    position: relative;
    margin: 0 auto;
}
div.content{
    width: 1024px;
    border: 3px solid red;
    position: relative;
    margin: 0 auto;
}

div.menu{
    height: 120px;
}
div.menu p{
    font-size: 40px;
    color: orange;
    position: absolute;

}
div p span{
    color: #3070a8;
}
div ul{
    position: absolute;
    margin-left: 460px;
    margin-top: 60px;
}
div ul li{
    display: inline;
    padding: 10px;
}
div ul li a{
    text-decoration: none;
    color: #999999;
    text-transform: uppercase;
}
div ul li a:hover{
    color: #3070a8;
}
div.wraper-first {
    position: relative;
    height:586px ;
    background: url("bg-1.jpg") no-repeat;
    background-size: cover;


}
div.wraper-first:before{
    content: '';
    background-color: rgba(0, 0, 0, .5);
    height: 586px;
    position:absolute;
    width:100%;
}
.comp{
    height: 586px;
}
.copm-text{
    margin: 150px 0 0 150px;
    position: absolute;
    color: white;
    text-align: center;
    font-size: 48px;
}
.copm-text span p{
    font-size: 12px;
    color: white;

}
.button button{
    height: 60px;
    width: 240px;
    background-color:transparent ;
    position: absolute;
    margin-left: 380px;
    margin-top: 460px;
    border: 1px solid white;
    color: white;

}
.wt-bloc{
    height: 564px;
}
.bloc-title{
    font-size:30px;
    color: #41525c;
    text-align: center;
    margin-top: 64px;
    text-transform: uppercase;
;
}
.bloc {
    width:310px ;
    height: 400px;
    display: inline-block;
    margin-top: 60px;
}
.bloc p{
    text-align: center;
    color: #999999;
    font-size:14px ;
}
.bloc p span{
font-size: 30px;
    text-transform: uppercase;
}
.bloc img{
    padding-left: 80px;
}
.wraper-fourth{
    position: relative;
    background-image: url("bgg2.jpg");
    background-size:cover ;
    height: 576px;
}
div.wraper-fourth:before{
    content: '';
    background-color: rgba(0, 0, 0, .5);
    height: 576px;
    position:absolute;
    width:100%;
}
.contento-heder{
    color: #ee8129;
    font-size: 26px;
    text-transform: uppercase;
}
.contento-heder span{
    color:white ;
    text-transform: none;
    font-size: 19px;
}
.content-list ul {
    width: 670px;
    margin-left: -10px;
}

.content-list ul li{
    font-size: 14px;
    color: #9d9d9d;
    display: block;
}
.content-list ul li.midl{
    color: #3070a8;
}
.content-list ul li:before{
    content: '•';
    color: #9d9d9d;
    padding-right: 7px;
}
.wraper-fourth .content{
    height: 576px ;
}
div.wraper-seventh-second{
    width: 50%;
    height: 345px;
    background-image: url("map.png");
    position: relative;
    margin-left: 850px;

}
.content-seventh{
    width: 50%;
    position: relative;
    margin-top: -300px;
}

.content-seventh ul li{
    display: block;
    margin-left: -340px;
}
.content-seven-simbol{
    margin-top: 210px;
    padding: 30px;
}
.wraper-eighth{
    background-color: #3070a8;
    height: 104px;
}
.content-eight{
    text-align: center;
    color: white;
    margin-top: 30px;
}


@media screen and (max-width: 1200px)
{
.wraper .content{
    width: 80%;
}

    div.menu{
        height: 120px;
        width: 20%;
    }
    div.menu p{
        font-size: 16px;
        color: orange;
        margin-top: 30px;
        margin-left: 20px;
    }
    div p span{
        color: #3070a8;
    }
    div ul{
        display: inline;
        margin-left: 31%;
        margin-top: 12%;
        width: 80%;
    }
    div ul li{
        padding: 1%;
    }
    div ul li a{
        font-size: 12%;
        text-decoration: none;
        color: #999999;
        text-transform: uppercase;
    }
    div ul li a:hover{
        color: #3070a8;  }




    div.wraper-first {
        width: 100%;
        margin: 0 auto;
        height:586px ;
        background: url("bg-1.jpg") no-repeat;
        background-size: cover;
    }

    div.wraper-first:before{
        width: 100%;
        content: '';
        background-color: rgba(0, 0, 0, .5);
        height: 586px;
        position:absolute;
    }

    .copm-text{
        margin: 15% 0 0 15%;
        position: absolute;
        color: white;
        text-align: center;
        font-size: 3em;
    }
    .copm-text span p{
        font-size: 0.2em;
        color: white;

    }
    .button button{
        height: 40px;
        width: 140px;
        background-color:transparent ;
        margin-left: 30%;
        border: 1px solid white;
        color: white;
    }

    .bloc-title{
        font-size:2em;
        color: #41525c;
        text-align: center;
        margin-top: 64px;
        text-transform: uppercase;
    ;
    }
    .bloc {
        width:20% ;
        display:inline-block;
        margin-left: 3%;

    }
    .round{
        width: 150%;
    }
    .bloc p{
        color: #999999;
        font-size:1em ;
        padding: 45%;
        text-align: justify;

    }
    .bloc p span{
        font-size: 1em;
        text-transform: uppercase;
    }

    .content-list ul {
        width: 80%;
        margin-left: 10px;
    }

    .content-list ul li{
        font-size: 1em;}

    .wraper-seventh-second{
        width: 5%;  }

    .content-seventh {
        width: 30%;  }

    .content-seventh ul li{
        display: block;
        margin-left: 40px;
    }
}
section.content.prises-list{
    height: auto;
}
.ground.saaid{
    height: auto;
}