* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    line-height: 1;
    position: relative;
}
h2.section-title {
    padding: 40px 0;
    font-size: 30px;
    color: #35495A;
    text-transform: uppercase;
}
div.wrapper, div.first-wrapper, div.third-wrapper {
    display: inline-block;
    vertical-align: top; /* if hight of wrappers isn't the same*/
    width: 296px;
    border-radius: 6px;
    background: white;
    margin-bottom: 30px;
    margin-top: 80px;

}
div.wrapper{
    border: 3px solid #ee8129;
    margin-right: -5px;
}
div.first-wrapper, div.third-wrapper{
    border: 4px solid #e8eaec;
    margin-right: -8px;  }



div.heading, div.first-heading, div.third-heading{
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding: 25px;
    border-radius: 5px 5px 0 0;
    background: #EE8129;
}
div.first-heading{background-color:#37c2d3;}
div.third-heading{background-color:#1cb79a;}

div.content, div.first-content, div.third-content{
    padding: 20px 15px 32px;
    text-align: center;
    color: #35495A;
}
h3.rate-name,h3.first-rate-name,h3.third-rate-name{
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
div.price-content, div.first-price-content, div.third-price-content {
    margin-bottom: 25px;
}
.currency, .first-currency, .third-currency, .price,.first-price, .third-price, .period, .first-period, .third-period {
    display: inline-block;
    position: relative;
    font-weight: bold;
}

.currency,.first-currency, .third-currency{font-size: 22px;top:-37px;left:5px;}
.price, .first-price, .third-price {font-size: 72px;}
.period, .first-period, .third-period {font-size: 18px;font-weight: normal;top:10px;left:-10px;}

ul.advantages, ul.first-advantages, ul.third-advantages{
    list-style-type: none;
    font-size: 15px;
    color: #888c94;
    margin-bottom: 20px;
}
ul.advantages li, ul.first-advantages li, ul.third-advantages li{
    padding: 8px 35px 8px 60px;
    margin-bottom: 1px;
    position: relative;
    text-align: left;
}

ul.advantages li:before, ul.first-advantages li:before, ul.third-advantages li:before{
    width: 14px;
    height: 15px;
    content: '';
    list-style-image: url("check.png");
    display: inline-block;
    position: absolute;
    margin-top: 2px;
    margin-left: -30px;
}
ul.advantages li:nth-child(2n), ul.first-advantages li:nth-child(2n), ul.third-advantages li:nth-child(2n) {
    background: #f5f5f6;
}
ul.advantages li:nth-child(2n+1), ul.first-advantages li:nth-child(2n+1), ul.third-advantages li:nth-child(2n+1) {
    background: #edf5fd;
}
button.buy,.first-buy,.third-buy {
    width: 95%;
    position: relative;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 1px;
    padding: 12px;
    cursor: pointer;
    border-right: 1px solid;
    background-color: #ee8129;
}
button.first-buy, .third-buy{
    background-color:#3371a6 ;
}